@import "../../common/sass/mixin.scss";
.ratingselect {
  position: relative;
  padding: 18px 18px 12px;
  border-bottom: 2px solid rgba(7, 17, 27, 0.1);
  .rating-type {
    padding-bottom: 18px;
    @include border-1px(rgba(7, 17, 27, 0.1));
    font-size: 12px;
    .block {
      display: inline-block;
      margin-right: 8px;
      height: 16px;
      line-height: 16px;
      border-radius: 2px;
      text-align: center;
      padding: 8px 12px;
      .count {
        margin-left: 2px;
        font-size: 8px;
      }
      &.active {
        color: #fff;
      }
    }
    .positive {
      color: rgb(77, 85, 93);
      background-color: rgba(0, 160, 220, 0.2);
      &.active {
        background-color: rgb(0, 160, 220);
      }
    }
    .negative {
      color: rgb(77, 85, 93);
      background-color: rgba(77, 85, 93, 0.2);
      &.active {
        background-color: rgb(77, 85, 93);
      }
    }
  }
  .rating-switch {
    height: 24px;
    line-height: 24px;
    padding-top: 12px;
    color: rgb(147, 153, 159);
    font-size: 0;
    .fa-check-circle {
      font-size: 24px;
      &.on {
        color: #00c850;
      }
    }
    .text {
      display: inline-block;
      vertical-align: top;
      margin-left: 4px;
      font-size: 12px;
    }
  }
}
